.product {
  color: var(--on-surface);
  background-color: var(--surface);
  border: 1px solid var(--border);
  padding: 16px 12px 9px;
  border-radius: 6px;
  width: 100%;
  height: auto;
  padding: 16px 24px 8px;
  padding-right: 24px;
}

.product:not(:last-child) {
  margin-bottom: 16px;
}

.productTitle {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  margin: 0 0 16px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: block;
}

.productBody {
  margin: 0 0 16px;
  word-break: break-word;
}

.actionBar {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #e3e4ee;
  padding-top: 8px;
  display: table;
  width: 100%;
}

button.actionBarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
}

button.actionBarItem:hover {
  background-color: var(--surface-hover);
}

button.actionBarItem:global(.active) {
  color: var(--primary);
}

.actionBarItemLabel {
  margin-left: 8px;
}

.productListItem {
  display: inline-block;
  float: none;
  clear: both;
}
