.button {
  border: 0;
  cursor: pointer;
  color: var(--on-primary);
  font-size: var(--button-font-size);
  background-color: var(--primary);
  border: 0px;
  border-radius: 10px;
  width: 100%;
  padding: 12px;
}

.button:focus {
  outline: none;
}
