.form {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--on-surface);
  font-weight: 600;
  margin-bottom: 8px;
}

.input {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  border: 1px solid #e3e4e8;
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-bottom: 8px;
}

.input:focus {
  outline: none;
  border: 1px solid #62bfad;
}

.textarea {
  resize: none;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  border: 1px solid #e3e4e8;
  width: 100%;
  height: 120px;
  padding: 8px;
  margin-bottom: 8px;
}

.textarea:focus {
  outline: none;
  border: 1px solid #62bfad;
}

.error {
  height: 1em;
  color: var(--error);
  margin-bottom: 1rem;
  font-family: var(--caption-font-family);
  font-size: var(--caption-font-size);
  font-weight: var(--caption-font-weight);
}
